.BooksList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.BooksList > * {
    margin: 10px;
}

.circular {
    position: absolute;
    left: calc(50% - 40px);
    top: 50%;
}

.add-book {
    width: 100%;
    height: 50px;
}
